<% col = Cor1440Gen::Proyectofinanciero.where(
  'id IN (SELECT DISTINCT proyectofinanciero_id ' + 
  '  FROM cor1440_gen_actividad_proyectofinanciero)') %>
<%= f.input :busactividad_proyectofinanciero,
  collection: col.order(:nombre),
  include_blank: true,
  input_html: {
    class: 'chosen-select',
    'data-action': 'change->msip--enviarautomatico#enviar'
  },
  label: false,
  label_method: :nombre,
  selected: Msip::ModeloHelper.poromision(
    params, :busactividad_proyectofinanciero
  ),
  value_method: :id
%>
