<%= f.input :buspersona_tipodocumento,
  collection: Msip::Tdocumento.all,
  include_blank: true,
  input_html: {
    class: 'chosen-select',
    'data-action': 'change->msip--enviarautomatico#enviar'
  },
  label: false,
  label_method: lambda{|k| k.sigla},
  label_value: lambda{|k| k.id},
  selected: Msip::ModeloHelper.poromision(params, :buspersona_tipodocumento)
  %>
