<% content_for :titulo do %>
  <%= Msip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
      <%= opcion_menu "Organizaciones sociales", msip.orgsociales_path %>
      <%= opcion_menu "Personas", msip.personas_path %>
    <% end %>
  <% end %>
  <%= grupo_menus :empuja => :derecha do %>
    <%= opcion_menu "Documentacion", 
      "https://gitlab.com/pasosdeJesus/jos19/tree/main/doc/README.md" %>
    <% if current_usuario %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave", main_app.editar_registro_usuario_path, 
          desplegable: true %>
        <%= opcion_menu "Copia de respaldo cifrada", msip.respaldo7z_path, 
          desplegable: true %>
        <%= opcion_menu "Usuarios", main_app.usuarios_path, 
          desplegable: true %>
        <%= opcion_menu "Tablas Básicas", msip.tablasbasicas_path, 
          desplegable: true %>
        <%= opcion_menu "Ayuda CA", msip.ayuda_controldeacceso_path, 
          desplegable: true %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", 
        main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", msip.acercade_path %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>
    <a href="https://www.pasosdejesus.org/dominio_publico_colombia.html">
      Dominio Público de acuerdo a Legislación Colombiana
    </a><br/>
    Desarrollado por 
    <a href="https://www.pasosdeJesus.org" target="_blank">
      Pasos de Jesús
    </a>. 2023.
  </span></p>
<% end %>

<%= render template: "layouts/msip/application" %>
